*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 22px;
  justify-content: flex-end;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
  gap: 30px;
  padding: 5px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-size: 30px;
  text-transform: uppercase;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description-container:focus {
  outline: none;
}

.content__video-card-description {
  font-weight: 400;
  width: 196px;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__card-link_current {
  background-color: #545050;
}

.content__accent {
  color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
}

.result {
  display: block;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386p;
  gap: 16px;
  margin-bottom: 16px;
}

.error {
  width: inherit;
  height: inherit;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 18px;
  appearance: none;
  color: #fff;
  font-weight: 400;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  background-color: transparent;
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 4px double #fff;
}

.search-form__submit-button {
  line-height: 100%;
  width: 194px;
  padding: 6px;
  font-size: 18px;
  font-weight: 700;
}

.more-button {
  width: 100%;
  padding: 6px;
}